body,div,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{
  font:12px"微软雅黑","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
  /*background:#fff;*/
  -webkit-text-size-adjust:100%;
}
a{color:#2d374b;text-decoration:none}  
a:hover{color:#cd0200;text-decoration:none} 
em{font-style:normal}  
li{list-style:none}  
img{border:0;vertical-align:middle}  
table{border-collapse:collapse;border-spacing:0}  
p{word-wrap:break-word} 
.min-body{
  background-color: #1e2224;
  position:relative;
  min-height: 900px;
  min-width: 1600px;
  margin: 0;
  box-sizing: border-box;
  color: #9ca9b1;
  overflow:auto;
}
table tr th{
font-weight:400; 
font-size:12px
}
::-webkit-scrollbar {
  /* 滚动条整体样式 */
  width: 10px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
  background: transparent;
  -webkit-border-radius: 4px;
  /* -webkit-box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.2); */
}
::-webkit-scrollbar-thumb {
  /* 滚动条里面小方块 */
  background:rgba(144,147,153,.5);
  -webkit-border-radius: 3px;
  /*height: 120px;*/
}
/*::-webkit-scrollbar-track {*/
  /*!* -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); *!*/
  /*border-radius:5px;*/
/*}*/
::-webkit-scrollbar-thumb:hover
{
  cursor: pointer;
  background-color: rgba(144,147,153,0.8);
}
/*::-moz-placeholder{color:red;}                  */
/*::-webkit-input-placeholder{color:red;}*/
/*:-ms-input-placeholder{color:red;}*/
